<app-navbar></app-navbar>
<div class="container mx-auto flex mt-10">
  <div class="w-1/5 mr-4">
    <app-sidebar></app-sidebar>
  </div>
  <div class="w-full">
    <div class="flex flex-col h-screen">
      <div class="w-full grow bg-white px-4 pb-4">
        <div class="flex flex-col h-full">
          <div>
            <h1 class="text-lg font-bold mb-4">Tasks</h1>
          </div>
          <div
            class="flex grow items-start w-full h-full overflow-x-auto"
            cdkDropListGroup
          >
            <div
              class="rounded bg-primary w-72 p-2 mr-3 shrink-0"
              *ngFor="let state of states"
            >
              <div class="flex justify-between py-1">
                <h3 class="text-sm font-bold ml-2 text-white">
                  {{ state.title }}
                </h3>
              </div>
              <div
                class="text-sm mt-2 min-h-[1rem]"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="state.tasks"
              >
                <div
                  (click)="openDialog(todo)"
                  *ngFor="let todo of state.tasks"
                  cdkDrag
                  class="bg-violet-200 shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-success-"
                >
                  <h4 class="text-sm font-bold text-">
                    {{ todo.title }}
                  </h4>

                  Planned date: {{ todo.plannedDate }}
                </div>
              </div>
            </div>
            <app-btn color="success" class="shrink-0" (click)="AddState()"
              >Add Column</app-btn
            >

            <!--<button class="shrink-0" (click)="AddState()">add state</button>-->
            <!-- Creación de Estados o columnas estaticas
      <div class="rounded bg-gray-200 w-72 p-2 mr-3">
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">Doing</h3>
        </div>
        <div
          class="text-sm mt-2 min-h-[1rem]"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="doing"
        >
          <div
            *ngFor="let itemDoing of doing"
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ itemDoing.title }} <br />
            Description: {{ itemDoing.description }} <br />
            Planned date: {{ itemDoing.plannedDate }} <br />
          </div>
        </div>
      </div>
      <div class="rounded bg-gray-200 w-72 p-2 mr-3">
        <div class="flex justify-between py-1">
          <h3 class="text-sm font-bold ml-2">Done</h3>
        </div>
        <div
          class="text-sm mt-2 min-h-[1rem]"
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="done"
        >
          <div
            *ngFor="let itemDone of done"
            cdkDrag
            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400"
          >
            {{ itemDone.title }} <br />
            Description: {{ itemDone.description }} <br />
            Planned date: {{ itemDone.plannedDate }}
          </div>
        </div>
      </div>-->
          </div>

          >
        </div>
      </div>
    </div>
  </div>
</div>
