<nav class="bg-primary border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/">
        <img
          loading="lazy"
          class="w-20 mr-8"
          src="/assets/images/logo_white.png"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a class="block py-3 px-4 text-white">Menu 1</a>
          </li>
          <li>
            <a class="block py-3 px-4 text-white">Menu 2</a>
          </li>
          <li>
            <app-btn typeBtn="button" color="success">Button 1</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <button
        type="button"
        class="flex rounded-full"
        aria-expanded="false"
        type="button"
        (click)="isOpen = !isOpen"
        cdkOverlayOrigin
        #menuOverley="cdkOverlayOrigin"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="/assets/images/profile_user.png"
          alt="user photo"
        />
      </button>
    </div>
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverley"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow" >
    <div class="py-3 px-4 flex justify-between">
      <span class="block text-sm text-center text-gray-900">Account</span>
      <button 
        (click)="isOpen = !isOpen" 
        class="block text-sm text-gray-900">X
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="/assets/images/profile_dev.png"
        alt=""
      />
      <div class="space-y-1">
        <div>Juan Perez</div>
        <div class="text-sm text-gray-500">prueba@gmail.com</div>
      </div>
    </div>
    <ul class="py-1" aria-labelledby="user-menu-button">
      <li>
        <a
          href="/projects"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-primary hover:text-white"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-primary hover:text-white"
          >Sign out</a
        >
      </li>
    </ul>
  </div>
</ng-template>


